/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
/.byebug_history
stats.db
.DS_Store
spec/performance/.byebug_history
stats_joined.db
stats_separated.db
